/* RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: inline-block;
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/*
  9. Remove default button styles
*/
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
}

/* VARIABLES */
:root {
    /* colors */
    --background-color-dark_mode: #232946;
    --headline-color-dark_mode: #fffffe;
    --paragraph-color-dark_mode: #b8c1ec;
    --button-color-dark_mode: #eebbc3;
    --button-text-color-dark_mode: #232946;
    --link-color-dark_mode: ;


    --stroke-color-dark_mode: #121629;
    --main-color-dark_mode: #b8c1ec;
    --highlight-color-dark_mode: #eebbc3;
    --primary-color-dark_mode: #fffffe;
    --secondary-color-dark_mode: #eebbc3;


    --background-color: #d4d8f0;
    --headline-color: #232946;
    --paragraph-color: #232946;
    --card-background-color: #fffffe;
    --button-color: #eebbc3;
    --button-text-color: #232946;
    --link-color: #232946;


    --stroke-color: #121629;
    --main-color: #b8c1ec;
    --highlight-color: #eebbc3;
    --primary-color: #fffffe;
    --secondary-color: #eebbc3;


    /* heading font-size */
    --min-heading-font-size: 1.5rem;
    --preferred-heading-font-size: 2.5vw;
    --max-heading-font-size: 2rem;

    /* paragraph font-size */
    --min-text-font-size: 0.875rem;
    --preferred-text-font-size: 1.5vw;
    --max-text-font-size: 1.125rem;


    /* medium heading font-size */
    --min-font-size: 1rem;
    --preferred-font-size: 2vw;
    --max-font-size: 1.5rem;

    /* spacing */
    --padding_xsmall: 0.25em;
    --padding_small: 0.5em;
    --padding_medium: 1em;
    --padding_large: 1.5em;
    --padding_xlarge: 2em;

    --margin_small: 0.5em;
    --margin_medium: 1em;
    --margin_large: 1.5em;
    --margin_xlarge: 2em;
    --margin_base: 1em;

    --gap_small: 0.5em;
    --gap_medium: 1em;
    --gap_large: 1.5em;
    --gap_xlarge: 2em;

    /* border-radius */
    --border-radius: 50%;

    /* box-shadow */
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);

    /* transition */
    --transition: all .3s;
}

/* GENERAL */
html {
    overflow-x: hidden;
}

main {
    height: 100%;
    padding: 0;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

h1,
h3 {
    font-weight: 700;
    text-transform: capitalize;
}

h1 {
    font-size: clamp(var(--min-heading-font-size), var(--preferred-heading-font-size), var(--max-heading-font-size));
    color: var(--accent_color_light);
}

h3 {
    font-size: clamp(var(--min-font-size), var(--preferred-font-size), var(--max-font-size));
}

h4 {
    font-size: .85rem;
    color: var(--main-color);
    margin-bottom: var(--margin_small);
    margin-top: 0;
    padding: 0;
    align-self: center;
}

h5 {
    color: var(--main-color);
    text-transform: uppercase;
}

p {
    font-size: var(--preferred-text-font-size);
    color: var(--main-color);
}

li {
    padding: var(--padding_xsmall);
    font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
}

a {
    display: inline-block;
    color: var(--button-text-color);
}

button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: var(--padding_xsmall) var(--padding_medium) var(--padding_xsmall) var(--padding_medium);
    border-radius: 8px;
    font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
    box-shadow: var(--box-shadow);
}


/* PROFILE IMAGE */
.profile {
    padding-bottom: var(--padding_xlarge);
}

.profile-wrapper {
    display: grid;
    place-items: center;
}

.profile-wrapper figure {
    width: 40vw;
    min-width: 130px;
    margin-bottom: var(--margin_small);
}

.profile-wrapper figure img {
    border-radius: var(--border-radius);
}

.upload-btn {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MY PLAYLIST */
.playlist {
    padding: 0;
}

.playlist .btn {
    margin: var(--margin_small);
    padding: var(--padding_small) var(--padding_large);
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    background-color: var(--button-color);
    color: var(--button-text-color);
    transition: var(--transition);
}

.playlist .btn:hover {
    background-color: var(--primary-color);
}

.playlist .btn-wrapper {
    justify-self: end;
}


.playlist {
    margin-bottom: 5em;
}

.playlist h3 {
    margin: 0;
}

.playlist-wrapper article:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: var(--margin_medium);
}

.playlist-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: var(--gap_small);
    margin-bottom: var(--margin_medium);
    background-color: var(--background-color-dark_mode);
    padding: var(--padding_medium);
    border-radius: 24px;
    box-shadow: var(--box-shadow);
}

.playlist-box a {
    box-shadow: none;
    margin: 0;
    cursor: pointer;
}


.playlist-box figure {
    width: 20vw;
    min-width: 70px;
    display: grid;
}

.playlist-box figure,
.playlist-box figcaption {
    grid-row: 1 / 3;
}

.playlist-box figure img {
    border-radius: var(--border-radius);
}

.playlist-box figcaption a {
    color: var(--main-color);
}

.playlist-box .link i.active {
    transform: rotate(90deg);
}

.playlist-box .genre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    justify-self: end;
}

.playlist-box .genre a {
    font-size: .65rem;
    padding: .35em var(--padding_small);
    border-radius: 10px;
}

.playlist-box .genre a:nth-child(4) {
    padding: var(--padding_xsmall) .65em;
}

.playlist-box .icons {
    grid-column: 3 / 4;
    justify-self: end;
}

.playlist-box .icons a {
    font-size: var(--min-heading-font-size);
    padding: 0;
    background-color: transparent;
    color: #508771;;
    box-shadow: none;
}

.playlist-box .icons a:hover {
    color: #67ab90;
    background-color: transparent;
}

.playlist-box .icons a:nth-child(2) {
    color: #c49ca2;
    margin-left: .35em;
}

.playlist-box .icons a:nth-child(2):hover {
    color: #dfb0b7;
}

.playlist-box figure {
    position: relative;
    display: inline-block;
}

.play-btn:before {
    content: '\f144';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 3rem;
    color: transparent;
    transition: var(--transition);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-btn:before .active {
    content: '\f28b';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 3rem;
    color: transparent;
    transition: var(--transition);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-btn:hover::before {
    color: #C4FFE7;
}

.play-btn:focus::before {
    color: #a8d6c3;
}

.playlist-box p {
    font-size: var(--min-text-font-size);
    grid-column: 1 / -1;
    text-align: justify;
    padding: var(--padding_small);
    opacity: 0;
    display: none;
}

.playlist-box p.active {
    display: block;
    opacity: 1;
    animation: fadeIn 0.3s ease-in 0s forwards;
}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

/* AUDIO PLAYER */
.display {
    background: rgba(255, 255, 255, 0.101);
    border-radius: 15px 15px 0 0;
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 20px 0 rgba(255, 255, 255, 0.403);
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 2em 1em 5em 1em;
    transform: translateY(100%);
    transition: var(--transition);
}

.display.active {
    transform: translateY(0);
}

#close-btn {
    position: absolute;
    top: 0.65em;
    right: 1em;
    font-size: 20px;
    cursor: pointer;
    color: var(--paragraph-color);
}

.display-box {
    display: grid;
    justify-content: center;
}

.audio-panel {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    place-items: center;
    gap: var(--gap_medium);
}

#play-icon {
    font-size: 3rem;
    color: #C4FFE7;
    cursor: pointer;
    transition: var(--transition);
}

#play-icon:hover {
    color: #a8d6c3;
}

.audio-panel span {
    display: inline-block;
    width: 5px;
    height: 15px;
    background-color: #C4FFE7;
    border-radius: 5px;
    margin-right: .3em;
}

.audio-panel span:nth-child(2),
.audio-panel span:nth-child(5),
.audio-panel span:nth-child(7),
.audio-panel span:nth-child(9) {
    height: 25px;
}

.audio-panel span:nth-child(4),
.audio-panel span:nth-child(6),
.audio-panel span:nth-child(8) {
    height: 35px;
}

.audio-panel.active span {
    animation: wave1 1s ease-in-out infinite alternate;
}

.audio-panel.active span:nth-child(2),
.audio-panel.active span:nth-child(5),
.audio-panel.active span:nth-child(7),
.audio-panel.active span:nth-child(9) {
    animation: wave2 1s ease-in-out infinite alternate;
}

.audio-panel.active span:nth-child(4),
.audio-panel.active span:nth-child(6),
.audio-panel.active span:nth-child(8) {
    animation: wave3 1s ease-in-out infinite alternate;
}

@keyframes wave1 {
    100% {
        height: 25px;
    }
}

@keyframes wave2 {
    100% {
        height: 35px;
    }
}

@keyframes wave3 {
    100% {
        height: 15px;
    }
}

/* DARK MODE */
body.dark-mode .playlist-box {
    background-color: var(--background-color);
}

body.dark-mode h4, body.dark-mode h5, body.dark-mode figcaption a, body.dark-mode .playlist-box p {
    color: var(--paragraph-color);
}

/* SIGNUP & LOGIN */
.signup-login {
    width: 100vw;
}

.signup-login .container {
    max-width: 400px;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-wrapper {
    width: 100%;
}

.signup-login h1 {
    margin-top: 0;
}

.signup-login h4 {
    margin-bottom: var(--margin_xlarge);
    color: var(--accent_color_light);
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap_small);
    max-width: 460px;
}

label {
    margin: 0;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--button-color-dark_mode);
}

input[type='submit'] {
    background-color: var(--button-color-dark_mode);
    margin-top: var(--margin_medium);
}

input[type='submit']:hover {
    background-color: var(--card-background-color);
}

input[type='submit']:focus {
    box-shadow: 0 0 0 1px var(--button-color-dark_mode);
}

.check-wrapper {
    display: flex;
    align-items: center;
}

input[type='checkbox'] {
    margin-bottom: 0;
}

input[type='checkbox']:focus {
    outline: none;
    box-shadow: none;
}

.signup-login p {
    margin: var(--margin_medium) 0 var(--margin_small) 0;
    font-size: var(--min-text-font-size);
    color: var(--accent_color_light);
}

.arrow-btn {
    font-size: 1rem;
    margin-left: var(--margin_small);
}

.arrow-btn i {
    transform: translateX(-5px);
    transition: var(--transition);
}

.arrow-btn:hover i {
    transform: translateX(0);
}

/* RESPONSIVE */
@media screen and (min-width: 500px) {
    h4 {
        font-size: 1rem;
    }
    .genre h5 {
        font-size: .75rem;
    }

    .playlist-box {
        padding: var(--padding_medium) var(--padding_large);
    }

    .playlist-box .genre a {
        font-size: .75rem;
        padding: var(--padding_small) var(--padding_medium);
        border-radius: 20px;
    }

    .play-btn:before {
        font-size: 4rem;
    }
}

@media screen and (min-width: 645px) {
    .playlist-box figure {
        width: 15vw;
    }

    .profile-wrapper figure {
        width: 35vw;
    }
}

@media screen and (min-width: 768px) {
    main,
    .hero_header,
    #error-msg {
        margin-left: 6.5rem;
    }

    .profile-wrapper figure {
        width: 25vw;
    }

    .playlist {
        margin-bottom: var(--margin_xlarge);
    }

    .playlist-box figure {
        width: 12vw;
    }

    .display {
        max-width: calc(100% - 13.5rem);
        padding: 2em 1em;
    }
}

@media screen and (min-width: 945px) {
    .profile-wrapper figure {
        width: 20vw;
    }

    .playlist-box figure {
        width: 10vw;
    }

    .genre h5 {
        font-size: .8rem;
    }

    .playlist-box .genre a {
        font-size: .8rem;
        padding: var(--padding_small) var(--padding_medium);
    }

    .playlist-box {
        padding: var(--padding_medium) var(--padding_xlarge);
    }
}

@media screen and (min-width: 1000px) {
    h4 {
        font-size: 1.1rem;
    }

    .playlist-box p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    h4 {
        font-size: 1.25rem;
    }

    .profile-wrapper figure {
        width: 15vw;
    }

    .playlist-box figure {
        width: 8vw;
    }

    .genre h5 {
        font-size: .9rem;
    }

    .playlist-box .genre a {
        font-size: .9rem;
    }

    .playlist-box .icons a {
        font-size: 1.8rem;
    }

    .signup-login {
        margin-left: -3.5rem;
    }
}

@media screen and (min-width: 1400px) {
    h4 {
        font-size: 1.35rem;
    }

    .profile-wrapper figure {
        width: 200px;
    }

    .playlist-box figure {
        width: 100px;
    }

    .signup-login {
        margin-left: -6.5rem;
    }
}