/* RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
    padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/*
  9. Remove default button styles
*/
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--paragraph-color);
}

/* VARIABLES */
:root {
    /* colors */
    --background-color-dark_mode: #232946;
    --headline-color-dark_mode: #fffffe;
    --paragraph-color-dark_mode: #b8c1ec;
    --button-color-dark_mode: #eebbc3;
    --button-text-color-dark_mode: #232946;
    --link-color-dark_mode: ;


    --stroke-color-dark_mode: #121629;
    --main-color-dark_mode: #b8c1ec;
    --highlight-color-dark_mode: #eebbc3;
    --primary-color-dark_mode: #fffffe;
    --secondary-color-dark_mode: #eebbc3;


    --background-color: #d4d8f0;
    --headline-color: #232946;
    --paragraph-color: #232946;
    --card-background-color: #fffffe;
    --button-color: #eebbc3;
    --button-text-color: #232946;
    --link-color: #232946;


    --stroke-color: #121629;
    --main-color: #b8c1ec;
    --highlight-color: #eebbc3;
    --primary-color: #fffffe;
    --secondary-color: #eebbc3;


    /* heading font-size */
    --min-heading-font-size: 1.5rem;
    --preferred-heading-font-size: 2.5vw;
    --max-heading-font-size: 2rem;

    /* paragraph font-size */
    --min-text-font-size: 0.875rem;
    --preferred-text-font-size: 1.5vw;
    --max-text-font-size: 1.125rem;


    /* medium heading font-size */
    --min-font-size: 1rem;
    --preferred-font-size: 2vw;
    --max-font-size: 1.5rem;

    /* spacing */
    --padding_xsmall: 0.25em;
    --padding_small: 0.5em;
    --padding_medium: 1em;
    --padding_large: 1.5em;
    --padding_xlarge: 2em;

    --margin_small: 0.5em;
    --margin_medium: 1em;
    --margin_large: 1.5em;
    --margin_xlarge: 2em;
    --margin_base: 1em;

    --gap_small: 0.5em;
    --gap_medium: 1em;
    --gap_large: 1.5em;
    --gap_xlarge: 2em;

}

/* GENERAL */
body {
    background-color: var(--background-color);
    color: var(--paragraph-color);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out; */
}

main {
    height: 100vh;
    padding: var(--padding_medium);
}

h1,
h3 {
    font-weight: 700;
    margin: var(--margin_large) 0 var(--margin_small) 0;
}

h1 {
    font-size: clamp(var(--min-heading-font-size), var(--preferred-heading-font-size), var(--max-heading-font-size));
    color: var(--text_color_light);
    line-height: 1.2;
}

h3 {
    font-size: clamp(var(--min-font-size), var(--preferred-font-size), var(--max-font-size));
    color: var(--accent_color_light);
}

li {
    color: var(--link-color);
    padding: var(--padding_xsmall);
    font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
}

button,
.btn {
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: var(--padding_xsmall) var(--padding_medium) var(--padding_xsmall) var(--padding_medium);
    border-radius: 8px;
    font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
    box-shadow: var(--box-shadow);
}

.btn {
    padding: 0.35rem var(--padding_medium);
}

/* button:hover {
    background-color: var(--secondary_color_dark);
} */

/* MENU MOBILE FIRST*/

.home_menu {
    position: relative;
}

.menu_icon {
    width: 20rem;
    position: fixed;
    bottom: 0.625rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--gap_medium);

    background-color: var(--button-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
    border-radius: 1rem;
    padding: var(--padding_medium) var(--padding_large) var(--padding_medium) var(--padding_large);
}

.menu_icon i {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

/* Show the sidebar when checkbox is checked */
#menu_toggle:checked~#sidebar {
    left: 0;
    display: block;
}

#menu_toggle {
    display: none;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    transition: left 0.3s ease;
    z-index: 999;
}

#sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap_small);
    padding: var(--padding_medium);
}

#sidebar li {
    margin: var(--margin_small) 0;
    font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
}

#sidebar li a {
    color: var(--link-color);
    transition: all 0.3s ease;
}

#sidebar li a:hover {
    color: var(--highlight-color);
}

#sidebar .close_icon {
    position: absolute;
    top: .625rem;
    right: .625rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

#sidebar .close_icon::before,
#sidebar .close_icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0.6875rem;
    width: 0.125rem;
    height: 1.5rem;
    background-color: var(--button-text-color);
}

#sidebar .close_icon::before {
    transform: rotate(45deg);
}

#sidebar .close_icon::after {
    transform: rotate(-45deg);
}

.logo {
    width: 4.375rem;
    height: 4.375rem;
    object-fit: cover;
}

/* HOME PAGE */
.hero_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap_medium);
    padding: var(--padding_medium);
    margin-bottom: var(--margin_medium);
}

.hero_header img {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    object-fit: cover;
}

.buttons :nth-last-child(1) {
    background-color: var(--primary-color);
    color: var(--button-text-color);
}


/* THIS PART IS COMMENTED TO MAKE THE SLIDER WORK */
/*
    .podcast_container {
    display: grid;
    gap: var(--gap_xlarge);
} */


/* .flex_images {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--gap_medium);


    overflow-x: auto;
    min-width: 100%;
}

.flex_images::-webkit-scrollbar {
    display: none;
} */


/* SLICK SLIDER */

.slick-slide {
    margin: 0 5px;
}

.slick-arrow {
    position: absolute;
    z-index: 1;
    background-color: var(--button-color);
    width: 40px;
    height: 40px;
    font-size: 0;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: .4s;
}

.slick-arrow:hover {
    background: var(--primary-color);
}

.slick-arrow:before {
    content: url(https://cdn-icons-png.flaticon.com/512/32/32213.png);
    transform: translate(-50%, -50%) scale(0.04);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.slick-prev {
    transform: rotate(180deg);
    top: 40%;
    left: 0;
    opacity: 0.5;
}

.slick-prev:hover {
    opacity: 1;
}

.slick-next {
    top: 40%;
    right: 0;
}

/* SLICK SLIDER ENDS */



/* DARK AND LIGHT MODE SLIDER */

/* Switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--button-color);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2px;
    background-color: var(--card-background-color);
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--primary-color);
}

input:checked+.slider:before {
    transform: translateX(14px);
}

/* Dark mode styles */
body.dark-mode {
    background-color: var(--background-color-dark_mode);
    color: var(--paragraph-color-dark_mode);
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode .text,
body.dark-mode a {
    color: var(--paragraph-color-dark_mode);
}

body.dark-mode.btn {
    background-color: var(--button-color-dark_mode);
    color: var(--button-text-color-dark_mode);
}

body.dark-mode .buttons :nth-last-child(1) {
    background-color: var(--primary-color-dark_mode);
    color: var(--button-text-color-dark_mode);
}

body.dark-mode .card {
    background-color: var(--primary-color-dark_mode);
    color: var(--paragraph-color-dark_mode);
}

body.dark-mode .menu_icon {
    background-color: var(--background-color);
}

body.dark-mode .menu_icon i {
    color: var(--button-text-color-dark_mode);
}

body.dark-mode .slider {
    background-color: var(--button-color-dark_mode);
}

body.dark-mode .slider:before {
    background-color: var(--button-text-color);
}

/* DARK AND LIGHT MODE SLIDER ENDS */



/* CARD */
.image_container {
    position: relative;
    flex-shrink: 0;
    height: 9.375rem;
    margin: var(--margin_small);
}

.image_container img {
    height: 9.375rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.image_container .text-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.image_container .text {
    color: var(--bg_color_dark);
    text-transform: capitalize;
    text-align: center;
    padding-top: var(--padding_small);
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.image_container:hover .text-bg {
    opacity: 0.8;
}

/* CARD ENDS */

/* audio player */

.audio-container {
    background-color: var(--card-background-color);
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thumbnail {
    width: 100%;
    height: auto;
}

.audio-details {
    padding: 10px 0;
}

.audio-details h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.audio-details p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

audio {
    width: 100%;
    margin-top: 20px;
}


/** SUCCESS PAGE **/


#success{
    text-align: center;
}

#success h2 {
    color: var(--headline-color);
    margin-bottom: var(--margin_medium);
}

#success a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 5px;
    transition: 0.3s;
}

#success a:hover{
    background-color: var(--button-text-color);
    color: var(--headline-color-dark_mode);
}

/** FAIL PAGE **/


#fail{
    text-align: center;
}

#fail h2 {
    color: var(--headline-color);
    margin-bottom: var(--margin_medium);
}

#fail a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 5px;
    transition: 0.3s;
}

#fail a:hover{
    background-color: var(--button-text-color);
    color: var(--headline-color-dark_mode);
}


/* MEDIA QUERIES */

@media screen and (min-width: 470px) {
    .image_container img {
        height: 110px;
        min-width: 110px;
    }

    .image_container .text {
        font-size: 12px;
    }
}

/* Styles for devices larger than 680px */
@media screen and (min-width: 680px) {
    .image_container img {
        height: 130px;
        min-width: 130px;
    }

    .image_container .text {
        font-size: 14px;
    }
}

/* Styles for devices larger than 768px */
@media screen and (min-width: 768px) {
    main {
        margin-left: 12.5rem;
    }

    .hero_header img {
        display: none;
    }

    .home_menu .menu_icon {
        display: none;
    }

    #sidebar {
        background-color: var(--primary-color);
        padding: var(--padding_medium);
        border-radius: 20px;

        left: 0;
        width: 12.5rem;
        display: block;
    }

    #sidebar ul {
        margin-left: 0;
    }

    #sidebar .close_icon {
        display: none;
    }

    .slick-arrow {
        display: none;
    }
}

/* Styles for devices larger than 820px */
@media screen and (min-width: 820px) {
    .image_container img {
        height: 150px;
        min-width: 150px;
    }

    .image_container .text {
        font-size: 16px;
    }
}

/* Styles for devices larger than 1024px */
@media screen and (min-width: 1024px) {
    .image_container img {
        height: 180px;
        min-width: 180px;
    }

    .image_container .text {
        font-size: 18px;
    }
}



/* OLD MEDIA QUERIES */
/* @media screen and (max-width: 820px) {
    .image_container img {
        height: 130px;
        min-width: 130px;
    }

    .image_container .text {
        font-size: 14px;
    }
}

@media screen and (max-width: 680px) {
    .image_container img {
        height: 110px;
        min-width: 110px;
    }

    .image_container .text {
        font-size: 12px;
    }
}

@media screen and (max-width: 470px) {
    .image_container img {
        height: 90px;
        min-width: 90px;
    }

    .image_container .text {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {

    main {
        margin-left: 12.5rem;
    }

    .hero_header img {
        display: none;
    }

    .home_menu .menu_icon {
        display: none;
    }

    #sidebar {
        background-color: var(--primary-color);
        padding: var(--padding_medium);
        border-radius: 20px;

        left: 0;
        width: 12.5rem;
        display: block;
    }

    #sidebar ul {
        margin-left: 0;
    }

    #sidebar .close_icon {
        display: none;
    }

    .slick-arrow {
        display: none;
    }

} */